body {
  padding: 0;
  margin: 0;
}


/* ----------- FONT ----------*/
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Cormorant+SC&display=swap");

@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Cormorant+SC&display=swap");

@font-face {
  /* TITLE */
  font-family: "Cormorant SC", serif;
  /* TEXT */
  font-family: "Cormorant Garamond", serif;
}

/* ----------- Color Palette to Be Used!!!  ----------*/
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/
/* https: //coolors.co/efeae4-fbfaf2-f1e7da-c0d5d4-384734 */
/* ----------- BackGrounds ----------*/

.background-image-window {
  background-image: url("../../assets/images/LandingPlant.jpg");
  background-position: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  width: 100%;
  z-index: -1000;
  display: flex;
  flex-direction: row;
}


/* ----------- Nav -------- */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

.main-nav-window {
  background-color: rgb(192, 213, 212);
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-content: center; */
  padding: 1em 5em;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.right-nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-around;
  width: 100%;
  padding: 0em;
  font-size: 1.15em;
  height: 100%;
}

.nav-item,
.nav-client-portal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 1.1em;
  font-family: "Cormorant SC", serif;
  letter-spacing: 1px;
  border: 1px solid transparent;
  padding: 0em 1em;
  margin: 0em 1em;
  /* height: 0; */
}

a {
  margin: 0;
  padding: 0;
  height: 2em;
}

.nav-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 0em 1em;
  margin: 0em 1em; */
  
}

.center-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.logo {
  width: 6em;
  height: 5em;
  margin: -1em;
  padding: 0em;
  /* border: solid 2px white; */
  border-radius: 2px;
}

.nav-client-portal {
  border: 1px solid white;
  border-radius: 2px;
}

.nav-client-portal:hover {
  color: white !important;
  background-color: #F1E7DA;
  transition: 1s;
}

.leaf-icon-window {
  color: #ffffff;
  padding: 0em 0em;
}

/* .logo:hover {
  border-color: #F1E7DA !important;
  transition: 1s;
  border: solid 2px white; */
  /* box-shadow: 0 0 60px 30px #fff; */
  /* animation: spinning-logo infinite linear 5s; */
  /* } */

  a:hover {
    color: #F1E7DA !important;
    transition: 1s;
    text-decoration: none;
    
  }
  
  @keyframes spinning-logo {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(360deg);
    }
  }

  /* ----------------- Landing ----------------- */
  /* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

  .landing-text-wrapper {
    height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: space-evenly; */
  padding: 5em 5em 0em 0em;
  z-index: -100;
}

.landing-empty-space {
  height: 100%;
  flex: 50%;
  z-index: -100;
  display: flex;
  flex-direction: column;
}

.landing-title-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 4em;
}

.landing-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em 0em;
}

b.landing-bold {
  color: black;
  font-weight: 900 !important;
}

/*  ----------------- Landing Text ----------------- */



.landing-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10em 10em;
  /* z-index: 200; */
  height: 100vh;
  width: 100%;
  text-align: center;
}


b.landing-b-text {
  color: black;
  font-weight: 900 !important;
}

/* -----------------  About -----------------  */

/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

.about-container {
  width: 100%;
  height: 100vh;
  padding: 4em 0em;
  /* padding: 0em 5em; */
  /* border: 5px solid teal; */
}

.about-wrapper {
  width: 100vw;
  /* border: 5px solid darkblue; */
}

.about-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60vh;
  /* border: 5px solid blue; */
}

.about-image {
  /* width: 23em;
  height: 23em; */
  width: 60%;
  height: 100%;
}

/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/
.abt-img-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 5px solid brown; */
  height: 100%;
  width: 100%;
}

.abt-txt-cont {
  /* border: 5px solid green; */
  background-color: white;
  padding: 1em;
}


.about-col-one {
  /* border: 5px solid orange; */
  flex: 50%;
  padding: 2em;
  background-color: #FBFAF2;
  padding: 2em 5em;
  
}

.about-col-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 5px solid purple; */
  flex: 50%;
  padding: 1em;
  background-color: #F1E7DA;
  padding: 2em 5em;
}



/* -----;------------  Contact -----------------  */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

.contact-form-wrapper {
  padding: 2em 5em;
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: solid 1px red; */
  /* background-color: rgba(255, 182, 185, .8); */
}

.contact-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* height: 100%;
  width: 100%; */
  padding: 1.5em 0em;
  margin: 0;
  
}

.contact-column-window {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 0em 5em;
  height: 100%;
}


/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/
::-webkit-input-placeholder {
  font-family: "Cormorant Garamond", serif !important;
  color: rgb(163, 163, 163) !important;
  font-size: 1.25em !important;
  font-weight: 200 !important;
}

label {
  font-family: "Cormorant Garamond", serif;
  color: rgb(163, 163, 163) !important;
  font-size: 1.25em;
  font-weight: 200;
}

.input-style-window {
  height: 2em;
  padding: 1em 0em;
  border-bottom: 1.25px solid #384734;
  margin: 0em 0em;
}

select {
  font-family: "Cormorant Garamond", serif;
  background-color: white;
  color: #1d4c4b;
  width: 20%;
  border-radius: 0 !important;
  border: 1.25px solid #384734;
  box-sizing: border-box;
  background-size: 1em;
  outline: none;
}

.textarea-style-window {
  margin: 0em 0em;
  height: 4em;
  border: none;
  /* border: solid 1px #384734; */
  border-radius: 2px;
  border-bottom: solid 1px #384734;
  padding: 2em 0em;
}

.select-style:hover {
  cursor: pointer;
}

.select-window {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0em 0em 1em;
}

option {
  font-family: "Cormorant Garamond", serif !important;
  
}

input {
  color: #384734;
  font-family: "Cormorant Garamond", serif;
  border: none;
  border-bottom: 2px solid #384734;
  outline: none;
}

input[type="text"],
[type='email'],
[type='tel'] {
  font-family: "Cormorant Garamond", serif;
  /* font-size: 1.25em; */
  height: 1em;
}

textarea[type='text'] {
  font-family: "Cormorant Garamond", serif;
  /* font-size: 1.25em; */
  height: 4em;
  
}

textarea {
  outline: none;
  font-family: "Cormorant Garamond", serif;
  color: #384734;
  width: 100%;
  height: 10em;
  line-height: 2px;
  border-bottom: 1px solid #384734;
}

/* -----------------  Carousel -----------------  */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

.carousel-wrapper {
  /* background-color: #5D5D47; */
  width: 100%;
  height: 100%;
  padding: 5em 15em 0em;
}

.carousel-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 0em;
}

.caption-one {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3em;
  width: 50%;
}

.caption-two {
  /* padding-bottom: 10em; */
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caption-three {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.caption-four {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.carousel-images {
  width: 100%;
  height: 80vh;
  border-radius: 5px;
}

/* -----------------  Services Landing -----------------  */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/


.service-wrapper {
  width: 100%;
  height: 100vh;
  padding: 3em 0em;
}

.service-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* padding: 2em; */
}


.service-image {
  width: 75%;
  height: 75%;
  border-radius: 5px;
}

.service-button {
  margin: 2em 0em;
  padding: .5em 2em;
  z-index: 5000;
  background-color: white;
}


.service-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 65vh;
  width: 100%;
  z-index: -500;
}

.service-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
  z-index: -500;
}

.serv-box-one {
  /* min-height: 500px; */
}

/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/
#serv-box-one {
  background-color: #EFEAE4;
  /* background-image: -webkit-linear-gradient(90deg, #fae3d9 50%, #ffb6b9 50%); */
  /* padding: 2em;
  height: 70vh;
  width: 50vw; */
  z-index: 500;
}

#serv-box-two {
  background-color: #FBFAF2;
  /* background-image: -webkit-linear-gradient(90deg, #fae3d9 50%, #ffb6b9 50%); */
  /* padding: 2em; */
  z-index: -500;
  /* height: 70vh; */
  /* width: 50vw; */
}

/* -----------------  Footer -----------------  */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

footer {
  width: 100%;
  height: 15em;
  background-color: #C0D5D4 !important;
  font-weight: lighter;
  /* position: absolute; */
  bottom: 0;
  text-align: center;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-evenly;
  padding: 0em;
  height: 100%;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



/* -----------------  Services Pages - Yoga -----------------  */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

.yoga-wrapper {
  height: 100%;
  width: 100%;
  padding: 4em 10em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.yoga-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.yoga-image {
  width: 65%;
  height: 65%;
}

.yoga-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 4em;
}

.bullet-yoga {
  padding: 0em 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.color-bar {
  width: 100%;
  height: 2em;
  background-color: #384734;
}

/* -----------------  Services Pages - EMDR -----------------  */

.emdr-wrapper {
  height: 100%;
  width: 100%;
  padding: 4em 10em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.emdr-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.bullet-emdr {
  padding: 0em 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.emdr-image {
  width: 65%;
  height: 65%;
}

.emdr-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 4em;
}

/* -----------------  Quotes Page -----------------  */

.quotation-marks {
  /* font-family: "Cormorant SC", serif; */
  font-family: "Cormorant Garamond", serif;
  /* font-size: ; */
}

.quote-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.quote-wrapper {
  padding: 0em 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}


/* -----------------  About Hayley Page -----------------  */

.ab-hay-wrapper {
  height: 100%;
  width: 100%;
  padding: 4em 10em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bullet-hay {
  padding: 0em 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}