body {
  padding: 0;
  margin: 0;
}



/* ----------- FONT ----------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Quicksand&display=swap");

@font-face {
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}

/* ----------- Color Palette to Be Used!!!  ----------*/
/* https://colorhunt.co/palette/107482 */
/* ##FFD700 #ffb6b9, #fae3d9 #FFFFFF #bbded6 #61c0bf #425E4F*/



/*-------------------- Other colors not to be used -------------------- */
/* #FFD700 #FFDAB9 #FFFFFF #40E0D0 #008B8B */
/* #1D4C4B #217B5F #1EA855 #78C468 #F2D159 */
/* #817F8D #D9E9F9 #5E654C #6C4939 #93C1E5*/

/* https: //coolors.co/aeadb6-ceb7b6-979789-b2a592-ccdcef */
/* https://coolors.co/1d4c4b-217b5f-1ea855-78c468-e0bd7d */


/* ----------- Nav -------- */

.main-nav-window {
  background-color: rgba(97, 192, 191, 0.8) !important;
  /* background-color: rgba(255, 218, 185, .8) !important; */
  /* background-color: rgba(64, 224, 208, .8) !important; */
  display: flex;
  flex-direction: row;
  padding: 1em 5em;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.right-nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-around;
  width: 100%;
  padding: 0em;
  font-size: 1.15em;
}

.nav-item,
.nav-client-portal {
  color: white;
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  margin: 0em 1em;
}

.nav-client-portal {
  border: 1px solid white;
  border-radius: 5px;
}

.nav-client-portal:hover {
  color: white !important;
  background-color: rgba(250, 227, 217, 0.3);
  transition: 1s;
}

.leaf-icon-window {
  color: #FFFFFF;
  padding: 0em 0em;
}

.leaf-icon-window:hover {
  color: #fae3d9 !important;
  transition: 1s;
}


a:hover {
  color: #fae3d9 !important;
  transition: 1s;
}

/* ----------- BackGrounds ----------*/

.background-image-window {
  background-image: url("./assets/images/YogaSpace.jpg");
  background-position: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  width: 100%;
  z-index: -500;
}

/* ----------------- Landing ----------------- */
/* #FFD700 #ffb6b9, #fae3d9 #FFFFFF #bbded6 #61c0bf #425E4F*/



.landing-wrapper-window {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  z-index: -100;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.landing-title-container {
  padding: 10em 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8em;
  border-radius: 5px;
  /* background-color: rgba(255, 218, 185, 0.9); */
  /* background-color: rgba(0, 139, 139, 0.5); */
}

.landing-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10em 5em 5em;
  z-index: 200;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.landing-text-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0em 3em;
}

.text-opacity {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 2em;
  border-radius: 10px;
  height: 100%;
}

b.landing-b {
  color: #61c0bf;
}

b.landing-b-two {
  color: #ffb6b9;
  font-weight: 700 !important;
  /* text-shadow: .5px .5px .5px black; */
}

b.im-hayley {
  color: #93C1E5;
}

/* -----------------  About -----------------  */

/* #FFD700 #ffb6b9, #fae3d9 #FFFFFF #bbded6 #61c0bf #425E4F*/


.about-padding {
  padding: 5em 5em 10em;
}

.about-image {
  width: 30em;
  height: 30em;
  padding: 2em;
  border-radius: 5px !important;
}

.about-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.about-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}

.about-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em 0em;
}

.about-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#box-left {
  background-color: rgba(66, 94, 79, 1);
  padding: 2em;
  z-index: -500;
  width: 50vw;
}

#box-right {
  /* background-color: rgba(255, 182, 185, .8); */
  background-color: #bbded6;
  padding: 2em;
  z-index: -500;
  width: 50vw;
}

#inner-box {
  background-color: white;
  border-radius: 5px;
}


/* -----------------  Contact -----------------  */
/* #FFD700 #ffb6b9, #fae3d9 #FFFFFF #bbded6 #61c0bf #425E4F*/

.contact-form-wrapper {
  padding: 3em 5em 0em;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  /* background-color: rgba(255, 182, 185, .8); */
}

.contact-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-column-window {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 0em 5em;
  height: 70vh;
}
/* form {
  background-color: white;
  border-radius: 5px;
} */

button {
  padding: 1em;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif !important;
  color: rgba(66, 94, 79, .5) !important;
  font-size: 1.25em;
  border: solid 1px rgba(66, 94, 79, 1) !important;
}

button:hover {
  color: white !important;
  background-color: rgba(66, 94, 79, 1);
  transition: 1s;
}

::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  color: rgb(163, 163, 163) !important;
  font-size: 1.25em !important;
  font-weight: 700;
}

label {
  font-family: "Open Sans", sans-serif;
  color: rgb(163, 163, 163) !important;
  font-size: 1.25em;
  font-weight: 700;
}

.input-style-window,
.textarea-style-window {
  padding: .25em 0em;
  margin: 0em 0em;
  border-bottom: 1.25px solid #425E4F;
}

select {
  background-color: white;
  color: #1d4c4b;
  width: 20%;
  border-radius: 0 !important;
  border: 1.25px solid #425E4F;
  box-sizing: border-box;
  background-size: 1em;
}

.textarea-style-window {
  height: 4em;
  border: none;
  border-bottom: solid 1px #425E4F;
  padding: 1em 0em;
}

.select-style:hover {
  cursor: pointer;
}

.select-window {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


input {
  color: #425E4F;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-bottom: 2px solid #425E4F;
}

textarea {
  font-family: "Open Sans", sans-serif;
  color: #425E4F;
  width: 100%;
  height: 10em;
  line-height: 1px;
  border-bottom: 1px solid #425E4F;

}

/* -----------------  Carousel -----------------  */

.carousel-wrapper {
  /* background-color: #5D5D47; */
  width: 100%;
  height: 100%;
  padding: 5em 15em 0em;
}

.carousel-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 0em;
}

.caption-one {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3em;
  width: 50%;
}

.caption-two {
  /* padding-bottom: 10em; */
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caption-three {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.caption-four {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.carousel-images {
  width: 100%;
  height: 80vh;
  border-radius: 5px;
}

/* -----------------  Services Landing -----------------  */

.service-images {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.service-wrapper {
  width: 100%;
  height: 100%;
  padding: 5em 2em;
}

.button-wrapper {
  /* border: solid 5px red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  height: 100%;
}

.service-button {
  /* border: solid 5px blue; */
  margin: 2em 0em;
  /* padding: 2em; */
}

/* -----------------  Footer -----------------  */

footer {
  width: 100%;
  height: 15em;
  background-color: #425E4F;
  font-weight: lighter;
  /* position: absolute; */
  bottom: 0;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* -----------------  Services Pages -----------------  */

.s-one-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5em 5em;
}