body {
  padding: 0;
  margin: 0;
}



/* ----------- FONT ----------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Quicksand&display=swap");

@font-face {
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}

/* ----------- Colors ----------*/

/* #1D4C4B #217B5F #1EA855 #78C468 #F2D159 */
/* #817F8D #D9E9F9 #5E654C #6C4939 #93C1E5*/

/* https: //coolors.co/aeadb6-ceb7b6-979789-b2a592-ccdcef */
/* https://coolors.co/1d4c4b-217b5f-1ea855-78c468-e0bd7d */


/* ----------- Nav -------- */

.main-nav-window {
  background-color: rgba(29, 76, 75, 0.8) !important;
  display: flex;
  flex-direction: row;
  padding: 1em 5em;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.right-nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-around;
  width: 100%;
  padding: 0em;
}

.nav-item,
.nav-client-portal {
  color: white;
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  margin: 0em 1em;
}

.nav-client-portal {
  border: 1px solid white;
  border-radius: 5px;
}

.nav-client-portal:hover {
  color: white !important;
  background-color: #93C1E5;
  transition: 1s;
}

.leaf-icon-window {
  color: #93C1E5;
  padding: 0em 0em;
}


a:hover {
  color: #93C1E5 !important;
  transition: 1s;
}

/* ----------- BackGrounds ----------*/

.background-image {
  background-image: url("./assets/images/Sky_Palm_Trees.jpg");
  background-position: center;
  height: 200vh;
  position: relative;
  background-size: cover;
  width: 100%;
  z-index: -500;
}

/* ----------------- Landing ----------------- */

.landing-wrapper-window {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  z-index: -100;
  min-height: 100vh;

}

.landing-title-container {
  padding-top: 10em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.landing-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4em 5em;
  z-index: 200;
  border-radius: 5px;
  width: 100%;
}

.landing-text-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0em 3em;
}

.text-opacity {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 2em;
  border-radius: 10px;
  height: 100%;
}

b {
  color: #F2D159
}

b.im-hayley {
  color: #93C1E5;
}

/* -----------------  About -----------------  */

.about-image {
  width: 100%;
  height: 70em;
  padding: 2em;
  border-radius: 5px;
}

.about-padding {
  padding-top: 6em;
}

.about-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-button {
  padding: 2em 0em;
}


/* -----------------  Contact -----------------  */

.contact-form-wrapper {
  padding: 3em 5em 0em;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.contact-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-column-window {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 0em 5em;
  height: 70vh;
}

button {
  padding: 1em;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif !important;
  color: #1d4c4b !important;
  font-size: 1.25em;
  border: solid 1px #d1d1d1;
}

button:hover {
  color: white !important;
  background-color: #1d4c4b;
  transition: 1s;
}

::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  color: rgb(163, 163, 163) !important;
  font-size: 1.25em !important;
  font-weight: 700;
}

label {
  font-family: "Open Sans", sans-serif;
  color: rgb(163, 163, 163) !important;
  font-size: 1.25em;
  font-weight: 700;
}

.input-style-window,
.textarea-style-window {
  padding: .25em 0em;
  margin: 0em 0em;
  border-bottom: 1.25px solid #1d4c4b;
}

select {
  background-color: white;
  color: #1d4c4b;
  width: 20%;
  border-radius: 0 !important;
  border: 1.25px solid #1d4c4b;
  box-sizing: border-box;
  background-size: 1em;
}

.textarea-style-window {
  height: 4em;
  border: none;
  border-bottom: solid 1px #1d4c4b;
  padding: 1em 0em;
}
.select-style:hover {
  cursor: pointer;
}

.select-window {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


input {
  color: #1d4c4b;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-bottom: 2px solid #1d4c4b;
}

textarea {
  font-family: "Open Sans", sans-serif;
  color: #1d4c4b;
  width: 100%;
  height: 10em;
  /* padding: 0em 2em; */
  /* border: none; */
  line-height: 1px;
  border-bottom: 1px solid #1d4c4b;

}

/* -----------------  Carousel -----------------  */

.carousel-wrapper {
  /* background-color: #5D5D47; */
  width: 100%;
  height: 100%;
  padding: 5em 15em 0em;
}

.carousel-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 0em;
}

.caption-one {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3em;
  width: 50%;
}

.caption-two {
  /* padding-bottom: 10em; */
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caption-three {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.caption-four {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.carousel-images {
  width: 100%;
  height: 80vh;
  border-radius: 5px;
}

/* -----------------  Services Landing -----------------  */

.service-images {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.service-wrapper {
  width: 100%;
  height: 100%;
  padding: 5em 2em;
}

.button-wrapper {
  /* border: solid 5px red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  height: 100%;
}

.service-button {
  /* border: solid 5px blue; */
  margin: 2em 0em;
  /* padding: 2em; */
}

/* -----------------  Footer -----------------  */

footer {
  width: 100%;
  height: 15em;
  background-color: #1d4c4b;
  font-weight: lighter;
  /* position: absolute; */
  bottom: 0;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* -----------------  Services Pages -----------------  */

.s-one-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5em 5em;
}