body {
  padding: 0;
  margin: 0;
}



.z-index-low {
  z-index: -1000;
}


/* ----------- FONT ----------*/
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Cormorant+SC&display=swap");

@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Cormorant+SC&display=swap");

@font-face {
  src: url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Cormorant+SC&display=swap");
  /* TITLE */
  font-family: "Cormorant SC", serif;
  /* TEXT */
  font-family: "Cormorant Garamond", serif;
}

/* ----------- Colors ----------*/
/* ----------- Color Palette to Be Used!!!  ----------*/
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/
/* https: //coolors.co/efeae4-fbfaf2-f1e7da-c0d5d4-384734 */

/* ----------- BackGrounds ----------*/

.background-image {
  background-image: url('../../assets/images/LandingCactus.jpg');
  background-position: 66% bottom;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: -500;
}

/* --------------- Nav --------------- */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

.main-nav-mobile {
  background-color: #C0D5D4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 10000;
  height: 8.5%;
}

.logo-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;

}

.logo-mob {
  width: 6em;
}


.fixed {
  position: fixed !important;
}

.drop-down {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  z-index: 500;
  padding: 0em 2em;
}

.menu-mob-icon {
  width: 2em;
}

/* --------------- Modal --------------- */

.modal-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  z-index: 4000;
  position: fixed !important;
}

.modal-column {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0em 4em;
  width: 100%;
}

.modal-button-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


.modal-icon {
  /* background-color: white; */
  /* height: 2em; */
  width: 2.5em;
  border-radius: 5px;
  /* padding: .5em; */
}

path {
  fill: red;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

/* --------------- Landing --------------- */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

.landing-m-wrapper {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 6em 2em 0em;
}

.landing-m-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  color: white !important; */
}

.landing-m-row-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.landing-m-sub-title {
  height: 100%;
  padding: 3em 0em;

}

/* --------------- Landing Text --------------- */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

.landing-title-container-mobile {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  text-align: center;
}


b.landing-m-b-two {
  color: black;
  font-weight: 900 !important;
  /* text-shadow: .5px .5px .5px black; */
}

.landing-m-text {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding: .5em 0em;
  width: 100%;
}


/* --------------- About --------------- */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

.about-mob-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  padding: 0em 2em;
}

.hayley-image {
  /* padding: 4em 0em; */
  width: 100%;
  height: 100%;
  padding: 1em 2em;
}

.mob-title {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 2em;
}

.mob-abt-text {
  text-align: center;
  padding: .5em 0em;
  border: 5px solid #EFEAE4;
  /* background-color: #EFEAE4; */
}

/* --------------- Contact --------------- */

/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

.contact-wrapper {
  padding: 0em 0em;
  height: 100vh;
  width: 100%;
}

.contact-column-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 0em 2em;
  height: 70vh;
}

::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  color: rgb(163, 163, 163) !important;
  font-size: 1em;
  font-weight: 700;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

select {
  background-color: white;
  color: #384734;
  width: 50%;
  border-radius: 5px !important;
  border: 1.25px solid black;
  box-sizing: border-box;
  background-size: 1em;
  outline: none;
}

.textarea-style-mobile {
  height: 5em;
  border: none;
  border-bottom: solid 1px #384734;
  padding: 1em 0em;
  flex-wrap: wrap;
}

input[type='text'].input-style,
input[type='tel'].input-style,
input[type='email'].input-style {
  width: 100%;
  border: none;
  outline: none;
  padding: .5em 0em;
  margin: 1em 0em;
  border-bottom: 1px solid black;
}

.select-style-mobile:hover {
  cursor: pointer;
}

.select-window-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

textarea[type='text'].textarea-style-mobile {
  outline: none;
  width: 100%;
  /* padding: 0em 2em; */
  border: none;
  height: 3em;
  line-height: 1px;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}

/* --------------- MAIN HTML --------------- */

/* button {
  width: 18em;
  padding: 1em;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif !important;
  color: #1d4c4b !important;
  font-size: 1.25em;
  border: none;
  border: solid 1px #D1D1D1;
} */


/* a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
} */


/* --------------- Servives --------------- */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/


.services-m-container {
  background-image: url('../../assets/images/LandingPlant.jpg');
  background-position: 35% bottom;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 500;
}


.s-mob-button {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  color: black;
}

.s-button-cont {
  width: 100%;
  height: 50%;
  padding: 0em 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 550;

}

/* --------------- Quote --------------- */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/


.quotation-m-marks {
  /* font-size: 1.5em; */
  font-family: "Cormorant Garamond", serif;
  /* font-family: "Cormorant SC", serif; */

}

.quote-m-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.quote-m-wrapper {
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

/* --------------- Yoga --------------- */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/


.yoga-container {
  padding: 2em;
  height: 100%;
  width: 100%;
  position: center;
}

/* --------------- Footer --------------- */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/


footer.mobile-footer {
  width: 100%;
  height: 10em;
  background-color: #C0D5D4;
  font-weight: lighter;
  padding: 2em 0em;
}

.footer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* --------------- Animations --------------- */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/


.fadeIn-modal {
  animation: fadein .5s ease-in-out !important;
}

.fadeOut-modal {
  animation: fadeout .5s ease-out !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* @keyframes fadeout {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
    /* --------------- Carousel --------------- */

.c-img-mob {
  width: 100%;
  height: 30em;
  border-radius: 5px;
}

.c-wrapper {
  width: 100%;
  height: 100%;
  padding: 2em;
}

.caption-one {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3em;
  width: 50%;
}

.caption-two {
  padding: 0em;
}

.caption-three {
  position: absolute;
  top: 40%;
}

.caption-four {
  top: 0;

}