body {
  padding: 0;
  margin: 0;
}



.z-index-low {
  z-index: -1000;
}


/* ----------- FONT ----------*/
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Cormorant+SC&display=swap");

@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Cormorant+SC&display=swap");

@font-face {
  src: url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Cormorant+SC&display=swap");
    /* TITLE */
    font-family: "Cormorant SC", serif;
  /* TEXT */
  font-family: "Cormorant Garamond", serif;
}

/* ----------- Colors ----------*/
/* ----------- Color Palette to Be Used!!!  ----------*/
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/
/* https: //coolors.co/efeae4-fbfaf2-f1e7da-c0d5d4-384734 */

/* ----------- BackGrounds ----------*/

.background-image {
  background-image: url('../../assets/images/LandingCactus.jpg');
  background-position: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  width: 100vw;
  z-index: -500;
}

/* --------------- Nav --------------- */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

.main-nav-mobile {
  background-color: #C0D5D4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 1.25em; */
  width: 100%;
  position: fixed !important;
  z-index: 10000;
  height: 8.5%;
}

.logo-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  
}

.logo-mob {
  width: 6em;
}


.fixed {
  position: fixed !important;
}

.drop-down {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  z-index: 500;
  padding: 0em 2em;
}

.menu-mob-icon {
  width: 2em;
}

/* --------------- Modal --------------- */

.modal-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  z-index: 4000;
  position: fixed !important;
}

.modal-column {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0em 4em;
  width: 100%;
}

.modal-button-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


.modal-icon {
  /* background-color: white; */
  /* height: 2em; */
  width: 2.5em;
  border-radius: 5px;
  /* padding: .5em; */
}

path {
  fill: red;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

/* --------------- Landing --------------- */
/* #EFEAE4 #FBFAF2 #F1E7DA #C0D5D4 #384734*/

.landing-m-wrapper {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 6em 2em 0em;
}

.landing-m-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-m-row-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.landing-m-sub-title {
  height: 100%;
  padding: 3em 0em;

}

/* --------------- Landing Text --------------- */

.landing-title-container-mobile {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  text-align: center;
}

b.landing-m-b {
  color: #61c0bf;
}

b.landing-m-b-two {
  color: #ffb6b9;
  font-weight: 700 !important;
  /* text-shadow: .5px .5px .5px black; */
}

.landing-m-text {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding: 1em 0em;
  width: 100%;
}


/* --------------- About --------------- */
/* ##FFD700 #ffb6b9, #fae3d9 #FFFFFF #bbded6 #61c0bf #425E4F*/

.about-container {
  height: 100%;
  width: 100%;
  padding-top: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.hayley-image {
  /* padding: 4em 0em; */
  width: 100%;
  height: 100%;
  padding: 1em 2em;
}

.about-background-one {
  background-color: #fae3d9;
  /* background-image: -webkit-linear-gradient(90deg, #ffb6b9 50%, #fae3d9 50%); */
  background-position: center;
  height: 100%;
  position: center;
  background-size: cover;
  width: 100%;
  z-index: -500;
  padding: 2em 0em 0em;
}

.about-background-two {
  background-color: #ffb6b9;
  /* background-image: -webkit-linear-gradient(90deg, #ffb6b9 50%, #fae3d9 50%); */
  background-position: center;
  height: 100%;
  position: center;
  background-size: cover;
  width: 100%;
  z-index: -500;
  padding: 2em 0em 2em;
}

.opacity {
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 1em 0em;
  margin: 2em;
  z-index: 200;
  border-radius: 5px;

}

.about-button-container {
  padding: 1em 0em 0em 0em;

}

button.about-m-button {
  width: 18em;
  padding: 1em;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif !important;
  color: #61c0bf !important;
  font-size: 1em;
  /* border: none; */
  border: solid 1px #61c0bf !important;
}


/* --------------- Contact --------------- */


.contact-wrapper {
  padding: 4em 0em;
  height: 100vh;
  width: 100%;
}

.contact-column-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 0em 2em;
  height: 70vh;
}

/* .form-opacity {
  background-image: url('../../assets/images/C-Plants-One.jpg');
  z-index: 1000;
} */

.label {
  padding: 0em 2em;
}

.textarea-style {
  padding: 0em 0em;
  margin: 1em 0em;

}

.input-style {
  padding: .5em 0em;
  margin: 1em 0em;
}


::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  color: rgb(163, 163, 163) !important;
  font-size: 1em;
  font-weight: 700;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

select {
  background-color: white;
  color: #1d4c4b;
  width: 70%;
  border-radius: 5px !important;
  border: 1.25px solid #1d4c4b;
  box-sizing: border-box;
  background-size: 1em;
}

.textarea-style-mobile {
  height: 5em;
  border: none;
  border-bottom: solid 1px #1d4c4b;
  padding: 1em 0em;
  flex-wrap: wrap;
}

.select-style-mobile:hover {
  cursor: pointer;
}

.select-window-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* --------------- MAIN HTML --------------- */

/* button {
  width: 18em;
  padding: 1em;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif !important;
  color: #1d4c4b !important;
  font-size: 1.25em;
  border: none;
  border: solid 1px #D1D1D1;
} */

input {
  width: 100%;
  padding: 0em 2em;
  margin: 2em 0em;
  border: none;
  border-bottom: 1px solid #1d4c4b;
}

textarea {
  width: 100%;
  padding: 0em 2em;
  border: none;
  line-height: 1px;
  border-bottom: 1px solid #1d4c4b;

}

/* a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
} */

/* --------------- Carousel --------------- */

.c-img-mob {
  width: 100%;
  height: 30em;
  border-radius: 5px;
}

.c-wrapper {
  width: 100%;
  height: 100%;
  padding: 2em;
}

.caption-one {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3em;
  width: 50%;
}

.caption-two {
  padding: 0em;
}

.caption-three {
  /* position: absolute; */
  top: 40%;
}

.caption-four {
  top: 0;

}

/* --------------- Servives --------------- */
/* ##FFD700 #ffb6b9, #fae3d9 #FFFFFF #bbded6 #61c0bf #425E4F*/

.services-m-container {
  height: 100%;
  width: 100%;
  padding: 2em 0em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.s-mob-bg-one {
  background-color: #425E4F;
  background-position: center;
  height: 100%;
  position: center;
  background-size: cover;
  width: 100%;
  z-index: -500;
  padding: 2em 0em 2em;
}

.s-mob-bg-two {
  background-color: #61c0bf;
  background-position: center;
  /* height: 50vh; */
  position: center;
  background-size: cover;
  width: 100%;
  z-index: -500;
  padding: 2em 0em 2em;
}


a.service-link {
  padding: 1em;
  background-color: white;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif !important;
  color: #1d4c4b !important;
  font-size: 1.25em;
  border: solid 1px #D1D1D1;
  width: 100%;
  text-align: center;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40vh;
  width: 100%;
  padding: 0em 2em;
}

.services-m-img {
  width: 100%;
  height: 100%;
  padding: 1em 2em;
}

/* --------------- Quote --------------- */

.quotation-m-marks {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
}

.quote-m-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.quote-m-wrapper {
  padding: 5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
}

/* --------------- Yoga --------------- */

.yoga-container {
  padding: 2em;
  height: 100%;
  width: 100%;
  position: center;
}

/* --------------- Footer --------------- */

footer {
  width: 100%;
  height: 15em;
  background-color: #1d4c4b;
  font-weight: lighter;
}

.footer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* --------------- Animations --------------- */

.fadeIn-modal {
  animation: fadein .5s ease-in-out !important;
}

.fadeOut-modal {
  animation: fadeout .5s ease-out !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* @keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
} */