body {
  padding: 0;
  margin: 0;
}



.z-index-low {
  z-index: -1000;
}


/* ----------- FONT ----------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Quicksand&display=swap');

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

/* ----------- Colors ----------*/

/* #1D4C4B #217B5F #1EA855 #78C468 #F2D159 */
/* #817F8D #D9E9F9 #5E654C #6C4939 #93C1E5*/

/* https: //coolors.co/aeadb6-ceb7b6-979789-b2a592-ccdcef */
/* https://coolors.co/1d4c4b-217b5f-1ea855-78c468-e0bd7d */

/* ----------- BackGrounds ----------*/

.background-image {
  background-image: url('../../assets/images/YogaSpace.jpg');
  background-position: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  width: 100vw;
  z-index: -500;
}

/* --------------- Nav --------------- */

.main-nav-mobile {
  background-color: rgba(29, 76, 75, 0.8) !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25em;
  width: 100%;
  position: fixed !important;
  z-index: 9999;
  top: 0;
}

.leaf-icon {
  color: #93C1E5;
}

.fixed {
  position: fixed !important;
}



/* --------------- Modal --------------- */

.modal-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  z-index: 4000;
  /* position: fixed; */
}

.modal-column {
  height: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  align-content: space-around;
  padding: 0em 4em;
  /* z-index: 3000; */
}

a.modal-button {
  width: 100%;
  margin: 1em 2em;
}

.modal-icon {
  background-color: white;
  border-radius: 5px;
  padding: .5em;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

i.cancel.big {
  margin: 0em;
  color: red;
}

/* --------------- Landing --------------- */

.landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6em 1em;
}

.l-sub-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  padding: 3em 0em;


}

/* --------------- Landing Text --------------- */

.landing-title-container-mobile {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

b {
  color: #1EA855;
}

b.im-hayley {
  color: #93C1E5;
}

.landing-text-list-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0em 0em;
}


/* --------------- About --------------- */

.about-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.hayley-image {
  /* padding: 4em 0em; */
  width: 100%;
  height: 15em;
  padding: 1em 2em;
}

.about-background {
  background-image: url('../../assets/images/About_background.jpg');
  background-position: center;
  height: 100%;
  position: center;
  background-size: cover;
  width: 100%;
  z-index: -500;
  padding: 2em 0em;
}

.opacity {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em 0em;
  margin: 2em;
  z-index: 200;
  border-radius: 5px;

}

.about-button-container {
  padding: 1em 0em 0em 0em;

}


/* --------------- Contact --------------- */


.contact-wrapper {
  padding: 4em 0em;
  height: 100vh;
  width: 100%;
}

.contact-column-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 0em 2em;
  height: 70vh;
}

/* .form-opacity {
  background-image: url('../../assets/images/C-Plants-One.jpg');
  z-index: 1000;
} */

.label {
  padding: 0em 2em;
}

.textarea-style {
  padding: 0em 0em;
  margin: 1em 0em;

}

.input-style {
  padding: .5em 0em;
  margin: 1em 0em;
}


::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  color: rgb(163, 163, 163) !important;
  font-size: 1em;
  font-weight: 700;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

select {
  background-color: white;
  color: #1d4c4b;
  width: 70%;
  border-radius: 5px !important;
  border: 1.25px solid #1d4c4b;
  box-sizing: border-box;
  background-size: 1em;
}

.textarea-style-mobile {
  height: 5em;
  border: none;
  border-bottom: solid 1px #1d4c4b;
  padding: 1em 0em;
  flex-wrap: wrap;
}

.select-style-mobile:hover {
  cursor: pointer;
}

.select-window-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* --------------- MAIN HTML --------------- */

button {
  width: 18em;
  padding: 1em;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif !important;
  color: #1d4c4b !important;
  font-size: 1.25em;
  /* border: none; */
  border: solid 1px #D1D1D1;
}

input {
  width: 100%;
  padding: 0em 2em;
  margin: 2em 0em;
  border: none;
  border-bottom: 1px solid #1d4c4b;
}

textarea {
  width: 100%;
  padding: 0em 2em;
  border: none;
  line-height: 1px;
  border-bottom: 1px solid #1d4c4b;

}

a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding: 2em; */
}

/* --------------- Carousel --------------- */

.c-img-mob {
  width: 100%;
  height: 30em;
  border-radius: 5px;
}

.c-wrapper {
  width: 100%;
  height: 100%;
  padding: 2em;
}

.caption-one {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3em;
  width: 50%;
}

.caption-two {
  padding: 0em;
}

.caption-three {
  /* position: absolute; */
  top: 40%;
}

.caption-four {
  top: 0;

}

/* --------------- Servives --------------- */

.s-mob-bg-img {
  background-image: url('../../assets/images/Service-Lotus.jpg');
  background-position: center;
  height: 100vh;
  position: center;
  background-size: cover;
  width: 100%;
  z-index: -500;
  padding: 2em 0em;
}

.services-container {
  height: 100%;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}

a.service-link {
  margin: 0em;
  padding: 1em;
  background-color: white;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif !important;
  color: #1d4c4b !important;
  font-size: 1.25em;
  border: solid 1px #D1D1D1;
  width: 100%;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  margin: -10em 0em 0em 0em;
  height: 100%;
  width: 100%;
  padding: 0em 2em;
}

.services-opacity {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2em 0em;
  border-radius: 5px;
  margin: 2em 2em;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
}

/* --------------- Yoga --------------- */

.yoga-container {
  padding: 2em;
  height: 100%;
  width: 100%;
  position: center;
}

/* --------------- Footer --------------- */

footer {
  width: 100%;
  height: 15em;
  background-color: #1d4c4b;
  font-weight: lighter;
}

.footer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* --------------- Animations --------------- */

.fadeIn-modal {
  animation: fadein .5s ease-in-out !important;
}

.fadeOut-modal {
  animation: fadeout .5s ease-out !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* @keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
} */